
<script>
jQuery(document).ready(function () {
    jQuery('nav').meanmenu();
});
</script>

	<nav>
			<ul>
				<li><a href="#/transit">Full Sail Transit</a></li>
				<li><a href="#/courses">WDD Courses</a></li>
				<li><a href="#/social">WDD Social Group</a></li>
				<li><a href="#/alumni">Alumni</a></li>
			</ul>

	</nav>
		<div class="holder_logo container">
		<a href="#/loggedIn"><img src="images/logo.png" /></a>
		<img src="images/courses.jpg">
		<p>{{desc.desc}}</p>
		</div>

		<div class="comment_text container">
		<div class="eight columns">
		<textarea rows="8" cols="50" ng-model="newComment" value="">Tell us about the class!</textarea>
		<button ng-click="addData()" id="submit" value="">Submit</button>
		</div>

<!-- <button ng-click="saveData()">save</button> -->

		<div class="eight columns" style="margin-top: 25px; margin-bottom: 20px;" ng-repeat="comment in desc.comments">
			<img src="{{loginObj.user.avatar_url}}" style="height:60px; width:60px;">
			<h3 id="user">{{loginObj.user.username}}</h3>
         <p id="user_comment">{{comment}}</p>
		</div>
	</div>
	</body>
</html>