<header>
  <a href="/">{{loginObj.user.username}}</a>
</header>
<div>
      <div class="holder_logo container">
        <img src="images/logo.png" />
      </div>

      <div class="holder container">
        <div class="two columns">
          <a href="#/transit"><img src="images/transit.png"/></a>
          <!-- <p class="name">Full Sail Transit</p> -->
        </div>
        <div class="two columns">
          <a href="#/courses"><img src="images/courses.png"/></a>
          <!-- <p class="name">WDD Courses</p> -->
        </div>
      </div>
      <div class="holdertwo container">
        <div class="two columns">
          <a href="#/social"><img src="images/social.png"/></a>
          <!-- <p class="name">WDD Social Group</p> -->
        </div>
        <div class="two columns">
          <a href="#/alumni"><img src="images/alumni.png"/></a>
          <!-- <p class="name">Alumni</p> -->
        </div>
      </div>
</div><!--holder-->

  </body>

  <footer>

  </footer>

</html>
