<header>
	<input type="checkbox" id="clicker">
	<label for="clicker"><img src="images/menu.png" style="margin-top: -10px; float: right;"></label>
	<nav>
			<ul>
				<li><a href="#/transit">Full Sail Transit</a></li>
				<li><a href="#/courses">WDD Courses</a></li>
				<li><a href="#/social">WDD Social Group</a></li>
				<li><a href="#/alumni">Alumni</a></li>
			</ul>

	</nav>
</header>
		<div class="holder_logo container">
		<a href="#/loggedIn"><img src="images/logo.png" /></a>
		<img src="images/googleMapFullSail.jpg">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
		</div>

		<div class="comment_text container">
		<div class="eight columns">
		<textarea rows="8" cols="50" ng-model="transComment">Tell us where you're going!</textarea>
		<button ng-click="addTransit()" id="submit" value="">Submit</button>
		</div>

			<div class="eight columns" style="margin-top: 25px; margin-bottom: 20px;" ng-repeat="comment in showComments">
						<img src="{{comment.image}}" style="height:60px; width:60px;">
						<!-- <p>This is awesome!</p> -->
						<h3 id="user">{{comment.name}}</h3>
						<p id="date">{{comment.date}}</p>
			         <p id="user_comment">{{comment.text}}</p>
					</div>