<header>
	<input type="checkbox" id="clicker">
	<label for="clicker"><img src="images/menu.png" style="margin-top: -12px; float: right;"></label>
	<nav>
			<ul>
				<li id="active"><a href="#/transit">Full Sail Transit</a></li>
				<li><a href="#/courses">WDD Courses</a></li>
				<li><a href="#/social">WDD Social</a></li>
				<li><a href="#/alumni">Alumni</a></li>
				<li><a ng-click="loginObj.$logout()">Logout</a>
			</ul>

	</nav>
</header>
		<div class="holder_logo container">
		<a href="#/loggedIn"><img src="images/logo2.png" /></a>
		<h2 style="text-align:center; margin-bottom:15px; color:#E8E8E6;">Full Sail Transit</h2>
		<img src="images/googleMapFullSail.jpg">
		<p>We all know what it's like having to be somewhere but no way to get there. Full Sail Transit allows you to post where you're going or where you need to go. Someone will reply, after all we Full Sail Webbies have to stick together!</p>
		</div>

		<div class="comment_text container">
		<div class="eight columns">
		<textarea rows="8" cols="50" ng-model="transComment">Tell us where you're going!</textarea>
		<button ng-click="addTransit()" id="submit" value="">Submit</button>
		</div>

			<div class="eight columns" style="margin-top: 25px; margin-bottom: 20px;" ng-repeat="comment in showComments">
						<img src="{{comment.image}}" style="height:45px; width:45px;">
						<!-- <p>This is awesome!</p> -->
						<h4 id="user">{{comment.name}}</h4>
						<p id="date">{{comment.date | date:'MMM dd, yyyy'}}</p>
			         <p id="user_comment">{{comment.text}}</p>
			          <div id="comment_space"></div>
					</div>